<%- include("./partials/admin.ejs") %>

<form style="text-align: center; margin: 5px; padding: 10px;" action="/update/<%= product._id %> " method="post" enctype="multipart/form-data">

    <input style="border: none; outline: none; border-radius: 7px; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); margin: 6px; padding: 8px; width: 50%;" type="text" value="<%= product.productname %> " name="name" placeholder="enter product name " required><br />
    <!-- <input style="border: none; outline: none; border-radius: 7px; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); margin: 6px; padding: 8px; width: 50%;" type="text" value="<%= product.price %> " name="price" placeholder="enter prize " required><br /> -->
    <input style="border: none; outline: none; border-radius: 7px; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); margin: 6px; padding: 8px; width: 50%;" type="text" name="size" value="<%= product.size %>" placeholder="enter size " required><br />
    <!-- <input style="border: none; outline: none; border-radius: 7px; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); margin: 6px; padding: 8px; width: 50%;" type="text" name="cat" value="<%= product.cat %>" placeholder="enter category " required><br /> -->
    <input style="border: none; outline: none; border-radius: 7px; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); margin: 6px; padding: 8px; width: 50%;" type="file" name="image" placeholder="Choose image " required><br />

    <input style="background-color: #28a745; border: none; outline: none; box-shadow: 0 0 3px 0 rgb(0 0 0 / 15%); width: 20%; height: 40px; " type="submit" name="submit">

</form>

<%- include("./partials/footer.ejs") %> 